.results {
  overflow: auto;
  zoom: 1;
  width: 100%;
  text-align: center;
}

.result-item {
  padding: 25px;
  margin: 0 25px;
  display: inline-block;
  text-align: center;
  border: 4px solid $blue;
  box-sizing: border-box;
  transition: border ease .2s;

h3 {
  color: black;
  text-transform: uppercase;
  font-size: 34px;


}

  img {
    width: 175px;
    height: 175px;
    background-color: $white;
  }

  &:last-child {
    img {
      transform: scaleX(-1);
    }
  }

  &.tie {
    border-color: $yellow;
  }
  &.win {
    border-color: $green;
  }
  &.lose {
    border-color: $red;
  }
}
